:root{
  --backgroundColor: #dde1e7;
  --textColor: black;
  --backgroundColor: #1d1d1d;
  --textColor: whitesmoke;
  /* --shadow: -6px -6px 7px #feffff,
    6px 6px 5px #bcbfc4;
  --btnShadow: -3px -3px 7px #feffff,
    3px 3px 5px #bcbfc4;
  --btnHoverShadow: inset -3px -3px 7px #feffff,
    inset 3px 3px 5px #bcbfc4; */
  --shadow: -6px -6px 7px #feffff10,
    6px 6px 5px #111111;
  --btnShadow: -3px -3px 7px #feffff10,
    3px 3px 5px #111111;
  --btnHoverShadow: inset -3px -3px 7px #feffff10,
    inset 3px 3px 5px #111111;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.darkTheme{
  --backgroundColor: #1d1d1d;
  --textColor: whitesmoke;
}
body{
  background-color: var(--backgroundColor);
}
header{
  display: flex;
  color: var(--textColor);
  justify-content: space-between;
  width: min(90%, 1120px);
  margin-inline: auto;
  padding-block: 1rem;
}
main{
  background-color: var(--backgroundColor);
  display: grid;
  place-items: center;
  row-gap: 2rem;
  padding-block: 1rem 2rem;
  width: min(100%, 1000px);
  margin-inline: auto;
}
.icon-container{
  display: flex;
  gap: .7rem;
}
.icons {
  width: 1.5rem;
  height: 1.5rem;
  color: var(--textColor);
  cursor: pointer;
}
.scrollBtn{
  width: 3rem;
  position: absolute;
  top: .6rem;
  padding: .7rem 1rem;
  border: none;
  border-radius: 50%;
  background-color: var(--backgroundColor);
  cursor: pointer;
  color: var(--textColor);
  box-shadow: var(--btnShadow);
  font-weight: 700;
  font-size: 1.1rem;  
}
.scrollBtn:hover {
  box-shadow: var(--btnHoverShadow);
}
@media screen and (min-width: 768px) {
  main{
    display: flex;
    justify-content: space-evenly;
    padding-block: 0;
  }
  .scroll{
    display: none;
  }
  .scrollBtn{
    display: none;
  }
}